
<h2>WAFEPA - Add/Edit user</h2>

<form class="form-horizontal"  ng-init="initUser()">


	<div class="form-group">
		<label class="col-sm-2">Email </label>
		<div class="col-sm-6">
			<input class="form-control" ng-model="user.email" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Password </label>
		<div class="col-sm-6">
			<input class="form-control" ng-model="user.password" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">First name </label>
		<div class="col-sm-6">
			<input class="form-control" ng-model="user.firstname" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Last name </label>
		<div class="col-sm-6">
			<input class="form-control" ng-model="user.lastname" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="saveUser()" ng-disabled="!user.email || !user.password || !user.firstname || !user.lastname">Save</button>
		</div>
	</div>
</form>